
.image {
  .headshot {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
}

.wrapper {

  .style2 {
    h2 {
      color: _palette(accent1);
    }
  }
}

section h3 {
  padding-bottom: 20px;
}

.actions {
  display: flex;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;

  .image {
    max-width: 33%;
  }
}

#three {
  .image {
    margin-bottom: 50px;
  }
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

